@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html,
body {
  --text-color-normal: #0a244d;
  --text-color-light: #8cabd9;
  --color-bg: #ffffff;
  font-family: "Roboto", sans-serif;
  --linkPink: rgb(216, 29, 216);
  --linkPurple: rgb(98, 16, 250);
  --linkGrey: #333;
  --lightGrey: rgb(184, 184, 184);
  --header-primary: #ffffff;
  --bt-primary: #2fa1d6;
}

.root-container {
  /* margin: 0 auto; */
  min-height: 100vh;
}

.mainContainer {
  padding-top: 4em;
  /* display: flex; messes up the skinny palettes...*/
}

.header-container {
}

a {
  position: relative;
  text-decoration: none;
}

a::before {
  /* content: "";
  position: absolute;
  height: 3px;
  right: 0px;
  bottom: -3px;
  left: 0px; */
  /* background-color: var(--linkPink); */
}

.imgUploadPreview {
  width: 20%;
}

button {
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 12px;
  vertical-align: middle;
  margin: 5px 0px;
}

button:hover,
button:focus {
  background: var(--bt-primary);
  color: white;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

/* input {
  font-weight: 300;
  letter-spacing: 1px;
} */

.new-button {
  display: inline-block;
  padding: 7px 0px;
  /* margin-right: 5px; */
  width: 100%;
  margin: 0px 0px 5px;
  /* margin: 0px; */
  /* cursor: pointer; */
  border-radius: 5px;
  background-color: rgb(158, 157, 157);
  /* font-size: 16px; */
  color: #fff;
}

input[type="file"i] {
  margin: 0px;
  padding: 0px 8px;
  /* border-radius: 5px; */
  cursor: pointer;

  /* border-radius: 10px;
  padding: 8px 12px;
  vertical-align: middle; */
  /* margin: 5px 0px; */
  /* font-size: 12px;
  padding-bottom: 2em; */
  /* color: blue; */
}

input[type="text"i] {
  margin: 0px 0px 5px;
  width: 100%;
  border-radius: 5px;
  padding: 8px 0px;
}

input[type="button"i] {
  margin: 0px 0px 5px;
  border-radius: 5px;
  /* width: 30%; */
  padding: 8px 8px;
}

@media only screen and (max-width: 480px) {
  .mainContainer {
    padding-top: 6em;
  }
}

@media only screen and (max-width: 760px) {
  .element {
    flex-direction: column;
  }

  .element .first {
    margin-right: 0em;
    /* border-radius: 5px; */
  }

  .element input {
    flex-wrap: wrap;
  }

  .element .second {
    display: flex;
    flex-direction: column;
  }

  .element .second form {
    flex-wrap: wrap;

    /* border: 1px solid rgb(56, 201, 121); */
  }

  .element .second input {
    flex: 1 1 100%;
    margin-right: 0.5em;
  }

  .second button {
    /* flex: 1 1 100%; */
  }

  /* styles for browsers larger than 960px; */
  /* .element {
        flex-direction: column;
        
    } */
}

@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}

@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}

@media only screen and (max-device-width: 480px) {
  .mainContainer {
    padding-top: 6em;
  }

  .element {
    flex-direction: column;
  }

  input[type="text"i] {
    margin: 5px 0px;
  }

  input[type="button"i] {
    margin: 5px 0px;
  }

  /* styles for mobile browsers smaller than 480px; (iPhone) */
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}
