@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html,
body {
  --text-color-normal: #0a244d;
  --text-color-light: #8cabd9;
  --color-bg: #ffffff;
  font-family: "Roboto", sans-serif;
  --linkPink: rgb(216, 29, 216);
  --linkPurple: rgb(98, 16, 250);
  --linkGrey: #333;
  --lightGrey: rgb(184, 184, 184);
  --header-primary: #ffffff;
}

.root-container {
  /* margin: 0 auto; */
  min-height: 100vh;
}

.mainContainer {
  padding-top: 4em;
  /* display: flex; messes up the skinny palettes...*/
}

.header-container {}

a {
  position: relative;
  text-decoration: none;
}

a::before {
  /* content: "";
  position: absolute;
  height: 3px;
  right: 0px;
  bottom: -3px;
  left: 0px; */
  /* background-color: var(--linkPink); */
}

.imgUploadPreview {
  width: 20%;
}

button {
  border-radius: 10px;
  padding: 8px 12px;
  vertical-align: middle;
  margin: 5px 0px;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}