//css for all the oranges in the 'menu'

html,body {
   height:100%;
   margin:0;
}


#r1{  width:100px; transform: skewY(-10deg) scale(3);  }
#r2{  width:200px; transform: scale(0.5); }
/*

@-webkit-keyframes r3{ {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
	
	@keyframes r3 { {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
		}   ---- > this bit breaks the random placement*/  

#r3{  width:300px; }



#r4{  width:400px; }
#r5{  width:200px; transform: skewX(-55deg) scaleX(2);}
#r6{  width:100px; transform: scale(0.5);}
#r7{  width:200px; }
#r8{  width:300px; transform: skewY(5deg);}
#r9{  width:400px;  }
#r10{  width:100px; }
#r11{  width:100px; }
#r12{  width:200px; }
#r13{  width:300px; }
#r14{  width:400px; }
#r15{  width:100px; }
#r16{  width:100px; }
#r17{  width:200px; }
#r18{  width:300px; }
#r19{  width:400px; }
#r20{  width:100px; }






.random {
    position: absolute;
    margin: auto;
    width: 50%;
    border: none;
    padding: 1px;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 50px;

}
#myDIV{
display:block;
}