DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=
HTTP_PORT=
JWT_SECRET=
PUBLIC_URL=

#Note: You must create custom environment variables beginning with REACT_APP_. Any other variables except NODE_ENV will be ignored to avoid accidentally exposing a private key on the machine that could have the same name. Changing any environment variables will require you to restart the development server if it is running.
#the environment variables are injected in build-time.