.env
.DS_STORE
/anarchive/node_modules
/anarchive/assets
/client/node_modules
devNotes.md
/client/src/components/RandomColor.js
/client/build/
/client/src/components/FetchEvents.js
/client/src/components/sketches/classconstructorvsfunctions.js

/client/public/sketches/404-1.js

# /anarchive/db/migrations/20200826002546_create_texts_table.js
