.pixel {
    position: absolute;
    z-index: 10;
}

.picnicPatch {
    width: 15px;
    height: 15px;
    border: 1px inset white;
    cursor: pointer;
    background: var(--entrypatch-color);
    -webkit-transition: width 3s ease-in-out 0.1ms, height 1s ease-in 3s;
    -moz-transition: width 3s ease-in-out 0.1ms, height 1s ease-in 3s;
    -ms-transition: width 3s ease-in-out 0.1ms, height 1s ease-in 3s;
    -o-transition: width 3s ease-in-out 0.1ms, height 1s ease-in 3s;
    transition: width 3s ease-in-out 0.1ms, height 1s ease-in 3s;
}

.picnicPatch:hover {
    width: 25vw;
    height: 25vw;
    cursor: pointer;
    /* animation: line 5s forwards; */
    /* decided not to use this method */
}