.pixel {
    position: absolute;
    z-index: 10;
}

.picnicPatch {
    width: 25px;
    height: 25px;
    border: 1px inset white;
    cursor: pointer;
    background: var(--entrypatch-color);
    -webkit-transition: width 2s ease-in 0.1ms, height 0.5s ease-in 2s;
    -moz-transition: width 2s ease-in 0.1ms, height 0.5s ease-in 2s;
    -ms-transition: width 2s ease-in 0.1ms, height 0.5s ease-in 2s;
    -o-transition: width 2s ease-in 0.1ms, height 0.5s ease-in 2s;
    transition: width 2s ease-in 0.1ms, height 0.5s ease-in 2s;
}

.picnicPatch:hover {
    width: 25vw;
    height: 25vw;
    cursor: pointer;
    /* animation: line 5s forwards; */
    /* decided not to use this method */
}

.hidden {
    display: none;
}