/* Class */
.navBar {
  width: 100%;
}

.navBar a {
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 0px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.navBar li:hover {
  /*this controls the hover essentially just for the one li item that isn't a link, aka the input and button for colorpicker*/
  background: var(--linkGrey);
}

.navBar ul {
  list-style: none;
  align-items: center;
  text-align: center; /* this is key to getting the sole colorpicker component that consists of the input and button, to also align center in the header */
  margin: 0px;
  padding: 0px;
  display: flex;

  background: var(--lightGrey);
  /* border: 1px solid rgb(212, 20, 20); */
  /* this border helps me see the true space layout of the element */
}

.navBar li {
  flex: 3;
}

/* /if i end up wanting to target icons on the far right, so they take up less space, this is how i would do it.  */
.navBar li .user {
  flex: 1;
}

.menuColorPicker {
  padding: 20px 5px;
  border-style: none; /* these are all to override the userAgent styling on the typical input button so it appears seamlessly in the menu navbar */
  border: none;
  background: none;

  /* width: 80%; */
  /* background: var(--lightGrey); */
  /* background: var(--lightGrey); */
}

.navBar .user li {
  display: flex;
}

.links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
  font-weight: bold;
}

.show-nav {
  height: 120px;
}

/* Media screen size */
/* @media screen and (min-width: 768px) {
  button {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
  }

  li {
    padding: 0 15px;
  }
} */

@media all and (max-width: 1000px) {
  .navBar ul {
    flex-wrap: wrap;
  }
  .navBar li {
    flex: 1 1 50%;
  }
  .navBar .user {
    flex: 1 1 50%;
  }
}

@media all and (max-width: 480px) {
  .navBar li {
    flex-basis: 100%;
  }
  .navBar .user {
    flex-basis: 50%;
  }
}
/* nav .flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;

  &:last-child {
    margin-right: 0px;
  }
} */
